*.pyc
__pycache__/
db.sqlite3
db_full.sqlite3
db_backup.sqlite3
*.sqlite3
*.sqlite3*
mynhanes/db.sqlite3
.venv
.DS_Store
downloads/
.python-version

# Python
*.pyc
__pycache__/

# Virtual Environment
.venv/
.env/

# VSCode
.vscode/

# Poetry
poetry.lock

# Pytest
.cache/

# MacOS
.DS_Store